.slide-arrow{
  z-index: 2;
  position: absolute;
  top: 40%;
  cursor: pointer;
  font-size: 40px;
  transition: 0.3s;
}

.slide-arrow:hover {
  color: #e65f78;
}

.prev {
  left: 5%;
}

.next {
  right: 5%;
}

@media (max-width: 1024px) {

}